{% extends 'main.html' %}
{% load static%}

{% block content %}
<div class="container card">
   <h1>Available openings</h1>
   <div class="card-body">
       <table class="table table-hover">
           <tr>
               <th>Name</th>
               <th>Position</th>
               <th>Description</th>
               <th>Salary</th>
               <th>Experience</th>
               <th>Location</th>
               <th>Join</th>
           </tr>
           {% for t in teachers %}
               <tr>
                   <td>{{t.name}}</td>
                   <td>{{t.position}}</td>
                   <td>{{t.description}}</td>
                   <td>{{t.salary}}</td>
                   <td>{{t.experience}}</td>
                   <td>{{t.Location}}</td>
                   <td><a href="{% url 'apply' %}" class="btn btn-info btn-sm" type="submit">Apply</a></td>
               </tr>
           {% endfor %}
       </table>
   </div>
</div>
       {% for c in students %}
           {{c.name}}
       {% endfor %}
{% endblock %}
